html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Noto Sans KR', sans-serif;
}
button{
  border: 0;
  outline: 0;
  background-color: transparent;
}
a {
    color: #666;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.page{
  height: 100%;
  width: 100%;
  text-align: center;
}

/* 헤더 */

.page header{
  width: 100%;
  height: auto;
  overflow: visible;
}


.page header .btn {
  background-color:transparent;
  border-color: transparent;
  cursor: pointer;
  margin-top: 20px;
}

#mypage_btn {
  margin-left: 10px;
}

.navbar{
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}

/* 로고 */
#d_logo {
  padding-top: 39px;
}

/* 드롭다운 메뉴 */

ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page_menu {
  width: 100%;
  height: 75px;
  line-height: 50px;
  margin:0 auto;
  text-align: center;
  border-top: 5px solid #00A6DD;
  border-bottom: 5px solid #00A6DD;

}
.page_menu ul {
  width: 100%;
}
.page_menu > ul > li {
    float: left;
    width:33.33%;
    margin-top: 10px;
    font-size: 15pt;
}
.page_menu > ul > li > button{
  font-size: 20pt;
  font-weight: bold;
 }
.page_menu > ul > li > ul {
    display: none;
    background: skyblue;
    position: absolute;
    margin-top: 50px;
    left:0;
    width: 100%;
  }
.navbar_toogleBtn {
  display: none;
  position: absolute;
  top:12px;
  right: 32px;
  font-size: 24px;
  color: #d49466;
}
.banner{
  margin-top: 45px;
}

.menu_container{
  text-align: center;
}

.menu_container .text_area{
  width: 870px;
  height: 100%;
  margin: 0 auto;
  margin-top: 35px;
  padding: 0;
  border: 2px solid grey;
  border-radius: 45px;
}
.menu_container .text_area > h1{
  font-size: 30pt;
  text-align: left;
  margin-left: 55px;
  margin-top: 44px;
}
.menu_container .text_area{
  font-size: 20pt;
  text-align: left;
}
.menu_container .text_area > a{
  margin-left: 55px;
  margin-top: 40px;
  display: inline-block;
}
.menu_container a:last-child{
  margin-bottom: 40px;
}

.menu_container .use_info{
  margin-bottom: 40px;
}

@media screen and (min-width: 820px) {
  .page_menu > ul > li:hover > ul{
      display: inline-block;
    }
}
@media screen and (max-width: 820px) {
  #DISCmain {
    display: none;
  }
.buttons {
  z-index: 999;
  position: fixed;
  display: none;
  right: 90px;
  bottom: 25px;
}
.btn {
  overflow: hidden;
  width: 50px;
}
.btn img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.navbar {
  position: relative;
  padding: 0;
  justify-content: center;
  flex-direction: column;
}
#d_logo {
  float: none;
  padding: 13px 0;
  margin: 0;
}
.page_menu {
  z-index: 997;
  display: none;
  position: fixed;
  background-color: #E2FBFF;
  width: 40vw;
  height: 100vh;
  right: 0;
  top: 0;
}
.page_menu > buttons{
  text-align: center;
}
.page_menu > ul {
  margin-top: 100px;
  background-color: #E2FBFF;
  text-align: center;
}
.page_menu > ul > li {
  width: 100%;
  float: none;
}
.page_menu > ul > li > ul {
  position: relative;
  margin: 0;
}
.page_menu > ul > li:hover {
  background-color: skyblue;
}
.navbar_toogleBtn {
  z-index: 998;
  display: block;
  position: fixed;
}
.page_menu.active,
.buttons.active {
  display: inline-block;
}
